{include file="common/header" /}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">{$title|default='系统管理'}</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
            {volist name="nav" id="vo"}
            <li class="layui-nav-item"><a href="{$vo.url}">{$vo.title}</a></li>
            {/volist}
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="{:session('admin.avatar')}" class="layui-nav-img">{:session('admin.username')}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a class="login-out here-pointer">退出</a></dd>
                    <dd><a class="cache-clear here-pointer" >清空缓存</a></dd>

                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="here-nav">  <!--lay-shrink="all"   展开子菜单时，是否收缩兄弟节点已展开的子菜单-->
                {volist name="menus" id="vo"}
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">{$vo.title}</a>
                    {if $vo.childlist != null}
                    <dl class="layui-nav-child">
                        {volist name="$vo['childlist']" id="child"}
                        <dd><a class="here-pointer" lay-data="{$child.url}">{$child.title}</a></dd>
                        {/volist}
                    </dl>
                    {/if}
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="layui-body" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="icon icon-earth" aria-hidden="true"></i>
                    <cite>控制面板</cite>
                </li>
            </ul>
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show" >
                    <iframe src="{:url('admin/index/info')}"></iframe>
                </div>
            </div>
        </div>
    </div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © herening.com {:date('Y',time())}
</div>
</div>
{include file="common/footer" /}
<script>
    layui.use(['element', 'layer'], function(){

        var layer = layui.layer,
            element = layui.element,
            $ = layui.jquery, loading;

        $('.login-out').click( function () {
            var loading = layer.load(1, {shade: [0.1, '#fff']});//0.1透明度的白色背景
            $.post('{:url("index/logout")}',function(res){
                layer.close(loading);
                if(res.code == 200){
                    layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                        location.href = res.data;
                    });
                }else{
                    layer.msg('数据错误')
                }
            });
        });
        $('.cache-clear').click(function () {
            loading = layer.load(1, {shade: [0.1,'#fff'] });
            $.post('{:url("index/clearCache")}', function (res) {
                layer.close(loading);
                if(res.code == 200){
                    layer.msg(res.msg);
                }else{
                    layer.msg(res.msg);
                }
            })
        });

        $('.layui-nav-child a').on('click', function () {
            $('.layui-tab-item iframe').attr('src', $(this).attr('lay-data'));
        });

        $('.layui-nav-tree li:first').addClass('layui-nav-itemed');
        element.on('nav(filter)', function(elem){
            console.log(elem); //得到当前点击的DOM对象
        });


    });
</script>

</body>
</html>
