{include file="common/header" /}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">{$title|default='系统管理'}</div>
        <a>
            <div class="layuimini-tool"><i title="侧边伸缩" class="fa fa-outdent" data-side-fold="1"></i></div>
        </a>

        <ul class="layui-nav layui-layout-left layui-header-menu layui-header-pc-menu mobile layui-hide-xs">
        </ul>

        <ul class="layui-nav layui-layout-left layui-header-menu mobile layui-hide-sm">
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
                <dl class="layui-nav-child layui-header-mini-menu">
                </dl>
            </li>
        </ul>

        <!--right start-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" title="清空缓存"  class=".cache-clear"><i class="fa fa-trash-o"></i></a>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="{:session('admin.avatar')}" class="layui-nav-img">{:session('admin.username')}
                </a>
                <dl class="layui-nav-child">
                    <dd><a class="login-out here-pointer">退出</a></dd>
                </dl>
            </li>
        </ul>
        <!--right end-->
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll layui-left-menu">
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-filter="layuiminiTab" id="top_tabs_box">
            <ul class="layui-tab-title" id="top_tabs">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:;"> <i class="fa fa-dot-circle-o"></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-page-close="other"><i class="fa fa-window-close"></i> 关闭其他</a></dd>
                        <dd><a href="javascript:;" data-page-close="all"><i class="fa fa-window-close-o"></i> 关闭全部</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show">
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © herening.com {:date('Y',time())}
        </div>
        {include file="common/footer" /}
        <script src="__STATIC__/admin/js/admin.js?v={$Think.config.system.version}"></script>
        <script>
            var menus ={$menus|raw};
            layui.use(['element', 'layer', 'layuimini'], function () {
                var $ = layui.jquery,
                    element = layui.element,
                    layer = layui.layer;

                layuimini.init(menus);

                $('.login-out').click( function () {
                    var loading = layer.load(1, {shade: [0.1, '#fff']});//0.1透明度的白色背景
                    $.post('{:url("index/logout")}',function(res){
                        layer.close(loading);
                        if(res.code == 200){
                            layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                location.href = res.data;
                            });
                        }else{
                            layer.msg('数据错误')
                        }
                    });
                });
                $('.cache-clear').click(function () {
                    loading = layer.load(1, {shade: [0.1,'#fff'] });
                    $.post('{:url("index/clearCache")}', function (res) {
                        layer.close(loading);
                        if(res.code == 200){
                            layer.msg(res.msg);
                        }else{
                            layer.msg(res.msg);
                        }
                    })
                });


            });
        </script>

    </div>



</div>



</body>
</html>
