<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__LAY__/css/layui.css?v={$Think.config.system.version}">
</head>
<body>
<h3 style="text-align: center; font-size: 55px; padding-top: 10%">Hello HereSys!</h3>
<h4>{:$list}</h4>


<script src="__LAY__/layui.js?v={$Think.config.system.version}"></script>

<script>
    layui.use(['layer'], function () {
        var layer = layui.layer;

        //layer.msg('hello');
    })

</script>
</body>
</html>
