{include file="common/header" /}

<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <!--search start-->
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">ID</label>
                <div class="layui-input-block">
                    <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户组</label>
                <div class="layui-input-block">
                    <select name="group_id">
                        <option value="">不限</option>
                        {volist name="groups" id="vo"}
                        <option value="{$vo.group_id}">{$vo.group_name}</option>
                        {/volist}
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="不限" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="0" class="layui-this">不限</dd><dd lay-value="1" class="">男</dd><dd lay-value="2" class="">女</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-useradmin" lay-submit="" lay-filter="user-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <!--search end-->
    <table class="layui-table" id="user-list" lay-filter="list"></table>
</div>

{include file="common/footer" /}

<script type="text/html" id="switch">
    {{# if(d.id==1){ }}
    <input type="checkbox" disabled name="is_open" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" checked>
    {{# }else{  }}
    <input type="checkbox" name="is_open" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" {{ d.status == 1 ? 'checked' : '' }}>
    {{# } }}
</script>

<script type="text/html" id="topBtn">
    <button class="layui-btn layui-btn-warm" lay-event="add" >添加</button>
</script>

<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    {{# if(d.id==1){ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled">删除</a>
    {{# }else{  }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
</script>


<script>
    layui.use(['table', 'form', 'layer'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery, layer = layui.layer;
        var tableIn = table.render({
            elem: '#user-list',
            url: '{:url("auth/adminList")}',
            method:'post',
            toolbar: '#topBtn',
            title:'{$title}',
            //id :'user-list',
            page:true,
            limit: 10,
            cols: [[
                {field:'id', title: '编号', width:60,fixed: true}
                ,{field:'username', title: '用户名', width:80}
                ,{field:'group_name', title: '用户组', width:100}
                ,{field:'email', title: '邮箱', width:200}
                ,{field:'tel', title: '{:lang("tel")}', width:150}
                ,{field:'ip', title: '{:lang("ip")}',width:150,hide:true}
                ,{field:'login_time', title: '上次登录时间',width:200}
                ,{field:'status', title: '{:lang("status")}',width:150,toolbar: '#switch'}
                ,{width:160, align:'center', toolbar: '#operate'}
            ]]
        });

        //监听搜索
        form.on('submit(user-search)', function(data){
            var field = data.field;
            //执行重载
            table.reload('user-list', {
                where: field
            });
        });

        //监听开关
        form.on('switch(open)', function(obj){
            var loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var is_open = obj.elem.checked===true?1:0;
            $.post('{:url("adminStatusSwitch")}',{'id':id,'is_open':is_open},function (res) {
                layer.close(loading);
                if (res.code === 200) {
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    //return false;
                }
            })
        });

        function setForm (div, object) {
            div.each(function(index, item){
                var itemFrom = $(this);
                layui.each(object, function(key, value){
                    var itemElem = itemFrom.find('[name="'+ key +'"]')
                        ,type;

                    //如果对应的表单不存在，则不执行
                    if(!itemElem[0]) return;
                    type = itemElem[0].type;

                    //如果为复选框
                    if(type === 'checkbox'){
                        itemElem[0].checked = value;
                    } else if(type === 'radio') { //如果为单选框
                        itemElem.each(function(){
                            if(this.value == value ){
                                this.checked = true
                            }
                        });
                    } else { //其它类型的表单
                        itemElem.val(value);
                    }
                });
            });
        }

        table.on('tool(list)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'detail'){ //查看
                //do something
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存

                    //向服务端发送删除指令
                    $.post('{:url("adminDel")}', {'id':data.id}, function (res) {
                        if(res.code === 200){
                            layer.msg(res.msg);
                            layer.close(index);
                        }
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                layer.open({
                    type: 2,
                    title: '编辑管理员',
                    content: '{:url("adminEdit")}', //?id='+ data.id +'
                    area: ['420px', '550px'],
                    maxmin:true,
                    btn: ['确定', '取消'],
                    success: function(layero, index){
                        var div = layero.find('iframe').contents().find('#layuiadmin-form-admin');   // div.html() div里面的内容,不包含当前这个div
                        //iframeWindow = window['layui-layer-iframe'+ index], //得到iframe页的窗口对象
                        //iframeWin = window[layero.find('iframe')[0]['name']], //得到iframe页的窗口对象
                        //body = layer.getChildFrame('body', index); // body.html() body里面的内容
                        var showImg = layero.find('iframe').contents().find('#show-img');
                        showImg.attr('src',data.avatar);
                        setForm(div, data);  //表单赋值
                    },
                    yes : function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find('#LAY-user-back-submit');
                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-user-front-submit)', function(form_data){
                            var field = form_data.field; //获取提交的字段
                            field.status  = field.status==='on'?1:0;
                            field.id = data.id;
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.post('{:url("adminEdit")}', field, function (res) {
                                if (res.code === 200) {
                                    table.reload('user-list');//table.reload('list'); //数据刷新
                                    layer.close(index);//关闭弹层
                                }else{
                                    return false;
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
                //同步更新缓存对应的值
                /* obj.update({
                     username: '123'
                     ,title: 'xxx'
                   });*/
            }
        });

        table.on('toolbar(list)', function (obj) {
            var layEvent = obj.event;
            //console.log(layEvent);
            if(layEvent === 'add'){
                layer.open({
                    type: 2
                    ,title: '添加管理员'
                    ,content: '{:url("adminAdd")}'
                    ,area: ['420px', '550px']
                    ,maxmin:true
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find('#LAY-user-back-submit');
                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-user-front-submit)', function(data){
                            var field = data.field; //获取提交的字段
                            field.status  = field.status==='on'?1:0;
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.post('{:url("adminAdd")}', field, function (res) {
                                if (res.code === 200) {
                                    tableIn.reload();//table.reload('list'); //数据刷新
                                    layer.close(index); //关闭弹层
                                }else{
                                    return false;
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            };
        });

    });
</script>

</body>
</html>