{include file="common/header" /}

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password"  placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-inline">
            <input type="text" name="tel" lay-verify="phone" placeholder="请输入号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            <select name="group_id" lay-verify="required">
                <option value="">请选择用户组</option>
                {volist name="groups" id="vo"}
                <option value="{$vo.group_id}">{$vo.group_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户状态</label>
        <div class="layui-input-inline">
            <input type="checkbox" lay-filter="switch" name="status"  lay-skin="switch" lay-text="启用|关闭" checked>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <input type="hidden" name="avatar" class="layui-input" id="avatar">
        <div class="layui-input-inline">
            <div class="layui-upload">
                <button type="button" class="layui-btn " id="upload-avatar"><i class="icon icon-upload3"></i>上传头像</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="show-img">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="LAY-user-front-submit" id="LAY-user-back-submit" value="确认">
    </div>
</div>
{include file="common/footer" /}
<script>
    layui.use(['form', 'layer', 'upload'], function () {
        var form = layui.form ,$ = layui.jquery, layer = layui.layer, upload = layui.upload;

        var uploadInst = upload.render({
            elem: '#upload-avatar'
            ,url: '{:url("HereUpload/uploadImg")}'
            ,accept: 'images'
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    $('#show-img').attr('src', result);
                });
            },
            done: function(res){
                if(res.code===200){
                    //console.log(res);
                    $("#avatar").val(res.data.path);
                }else{
                    //如果上传失败
                    return layer.msg(res.msg);
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>
</body>
</html>
